###################################
##Hello this is server.properties##
####################################

Welcome to server.properties file

List of Names
{% for i in abc %}
Name: {{ i }}
{% endfor %}
